server:
  port: 8082

spring:
  application:
    name: user-service
  datasource:
    url: "jdbc:h2:mem:usersdb;DB_CLOSE_DELAY=-1;MODE=MySQL"
    username: "sa"
    password: ""
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update